*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: $dark-color;

    &:hover{
        cursor: pointer;
    }
}

i{
    font-size: 1.6rem;
    transition: 300ms;

    &:hover{
        cursor: pointer;
        color: $detail-color;
        transition: 300ms;
    }
}